name: Dependencies Check

on:
  schedule:
    - cron: '0 0 * * 1'  # 每周一运行
  workflow_dispatch:

jobs:
  check:
    name: Check Outdated Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.92
      
      - name: Install cargo-outdated
        run: cargo install cargo-outdated
      
      - name: Check outdated dependencies
        run: cargo outdated --workspace
        continue-on-error: true
